<app-navbar></app-navbar>
<section id="main-content" style="padding-bottom:40px">
  <section class="wrapper">
    <section class="content-header">
      <ol class="breadcrumb" style="margin-top:20px;">
        <li>
          <a href="/dashboard">
            <i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
      </ol>
    </section>

    <div class="row mt" style="padding-top: 20px">
<!--      <h1 class="text-center">BBIMS</h1>-->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top:20px;">
        <div class="panel-info tab-pane  well-sm text-center" style="background:darkslategray; color: white;" >
<!--          style="background:darkslategray; color: white;"-->
          <h1><i class="fa fa-university"></i></h1>
          <h3 >Branches</h3>


            <h3 >{{noofbranch}}</h3>
        </div>
      </div>
      <!-- /col-lg-3 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top: 20px;">
        <div class="panel-info tab-pane  well-sm text-center" style="background:darkslategray; color: white;">
          <h1>
            <i class="fa fa-user-md"></i></h1>
          <h3 class="text-center">Staffs</h3>
          <h3 class="text-center">{{noofstaff}}</h3>
        </div>
      </div>
      <!-- /col-lg-3 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top:20px;">
        <div class="panel-info tab-pane  well-sm "  style="background:darkslategray; color: white;">
          <h1 class="text-center">  <i class="fa fa-hospital-o"></i></h1>
          <h3 class="text-center">Hospitals</h3>
          <h3 class="text-center">{{noofhospital}}</h3>
        </div>
      </div>
      <!-- /col-lg-3 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top:20px;">
        <div class="panel-info tab-pane  well-sm" style="background:darkslategray; color: white;">
          <h1 class="text-center">   <i class="fa fa-users"></i></h1>
          <h3 class="text-center"> Donors</h3>
          <h3 class="text-center">{{noofdonor}}</h3>
        </div>
      </div>
      <!-- /col-lg-3 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top:20px;">
        <div class="panel-info tab-pane  well-sm " style="background:darkslategray; color: white;">
          <h1 class="text-center">   <i class="fa fa-home"></i></h1>
          <h3 class="text-center">Donation Centers</h3>
          <h3 class="text-center">{{noofdoncen}}</h3>
        </div>
      </div>
      <!-- /col-lg-3 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top:20px;">
        <div class="panel-info tab-pane  well-sm" style="background:darkslategray; color: white;">
          <h1 class="text-center">   <i class="fa fa-product-hunt"></i></h1>
          <h3 class="text-center"> Stocks</h3>
          <h3 class="text-center">{{noofstocks}}</h3>
        </div>
      </div>
      <!-- /col-lg-3 -->   <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top:20px;">
      <div class="panel-info tab-pane  well-sm" style="background:darkslategray; color: white;">
        <h1 class="text-center">   <i class="fa fa-heart"></i></h1>
        <h3 class="text-center"> Donations</h3>
        <h3 class="text-center">{{noofdonation}}</h3>
      </div>
    </div>
      <!-- /col-lg-3 -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-top:20px;">
        <div class="panel-info tab-pane  well-sm" style="background:darkslategray; color: white;">
          <h1 class="text-center">   <i class="fa fa-share"></i></h1>
          <h3 class="text-center"> Transfers</h3>
          <h3 class="text-center">{{nooftransfers}}</h3>
        </div>
      </div>
      <!-- /col-lg-3 -->

    </div>
    <!-- /row -->

  </section>
  <!-- /wrapper -->
</section>
<app-footer></app-footer>

