<!--<nav>-->
<!--  <header class="header black-bg">-->

<!--    <div class="">-->
<!--      <ul class="nav" >-->
<!--        <li style="float: left;"><a routerLink="/branch" routerLinkActive="active">Branch</a></li>-->
<!--        <li style="float: left;"><a routerLink="/authenticate" routerLinkActive="active">Auth</a></li>-->
<!--        <li style="float: left;"><a routerLink="/dt" routerLinkActive="active">Data Table</a></li>-->
<!--        <li style="float: left;"><a routerLink="/nav" routerLinkActive="active">Nav</a></li>-->
<!--        <li style="float: left;"><a routerLink="/dnav" routerLinkActive="active">NewNav</a></li>-->
<!--        <li style="float: left;"><a routerLink="/tp" routerLinkActive="active">Trial</a></li>-->
<!--        <li style="float: left;"><a routerLink="/hospital" routerLinkActive="active">Hospital</a></li>-->
<!--        <li style="float: left;"><a routerLink="/addblood" routerLinkActive="active">AddB</a></li>-->
<!--        <li style="float: left;"><a routerLink="/donate" routerLinkActive="active">Donate</a></li>-->
<!--        <li style="float: left;"><a routerLink="/getblood" routerLinkActive="active">GetB</a></li>-->
<!--        <li style="float: left;"><a routerLink="/transferblood" routerLinkActive="active">TransferB</a></li>-->
<!--        <li style="float: left;"><a routerLink="/available" routerLinkActive="active">A</a></li>-->
<!--        <li style="float: left;"><a routerLink="/stock" routerLinkActive="active">BS</a></li>-->
<!--        <li style="float: left;"><a routerLink="/used" routerLinkActive="active">U</a></li>-->
<!--        <li style="float: left;"><a routerLink="/profile" routerLinkActive="active">P</a></li>-->

<!--      </ul>-->
<!--    </div>-->
<!--  </header>-->
<!--</nav>-->

  <div >
    <router-outlet></router-outlet>
  </div>

